<div class="alert alert-danger" role="alert">
  <p class="mb-1 fw-bold">There is a problem</p>
  <ul class="mb-0">
    {% for field, message in errors %}
      <li><a href="#{{ field }}" class="text-reset text-decoration-none">{{ message }}</a></li>
    {% endfor %}
  </ul>
</div>