{% extends "layout.njk" %}
{% block content %}
  <h2 class="mb-3">Next steps</h2>
  <p class="lead">Work with your teams to help build out new functionality for this app. </p>
  <ul class="mb-4">
    <li>Add a new screen into the flow, e.g. DOB, employment history, add property details</li>
    <li>Add a new components, radio buttons, checkboxes e.t.c</li>
    <li>Improve validation for existing input fields </li>
    <li>Improve navigation, adding back buttons</li>
    <li>Make edits from the summary</li>
    <li>Handle persistence, ability to register multiple properties, show a list of submitted entries</li>
    <li>Update the styling, add some colour, pull in govuk design system</li>
  </ul>
  <a href="/" class="btn btn-outline-secondary me-2">Back to start</a>
  <a href="/contact" class="btn btn-primary">Continue to contact details</a>
{% endblock %}
